#top_nav {
    display : flex;
    align-items : flex-start;
    width : 100%;
    height : 90px;
    position : sticky;
    top : 0;
    flex-wrap : wrap;
    background-color: rgba(67, 67, 67, 0.6);
    margin-top : 5px;
    margin-bottom : 0px;
    z-index : 10; /* prevent it from hiding under other elements*/
}

fieldset{
  margin-bottom : 20px;
}

legend {
  font-weight : bold;
  font-style : oblique;
  color :rgb(255, 37, 37)
}

.top_nav_button {
    flex : 1 1 10%;
    height : 90%;
    text-align : center;
    font-weight: bold;
}

.selected_button {
  background-color: rgb(197, 197, 197);
  color: #1d1d1d;
  border: none;
  padding: 12px 25px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, flex 0.3s ease; /*transition property shorthand : property | time | transition style*/
  text-align: left;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  text-decoration: none;
  display : block;
}


/* set all elements to border box, 0 margin and padding */
/* include padding in height and width size*/
* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

/* html and body elements on expand to content size, for gradient to cover the full page, setting it to stretch the full page */
html, body {
  background: linear-gradient(rgb(32, 32, 32), rgb(32, 32, 32));
}

/* inheritable properties (text styles) : font-family and color affects all elements and changes the font */

body {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  line-height: 1.6;
}


/* header properties */
.top_header {
  font-size: 1.8em;
  background-color: rgb(27, 27, 27);
  color: #fff;
  padding : 15px;
  width : 100%;
  text-align: center;
}

.article_container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
  max-width: 1100px;
  margin: 40px auto;
  padding : 30px;
}

body .table_container {
  max-width : 1200px;
}

.right_column {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 280px;
}

/* generic img properties */
.image_holder {
  flex: 1 1 55%;
  min-width: 300px;
}

.main_holder {
  overflow : hidden;
}

.main_holder img{
  max-width : 100%;
  width: 100%;
  height: 500px;
  object-fit : cover;
  border: 8px solid #000000;
  filter : brightness(75%);
  transition : filter 0.3s ease;
}

.image_holder img{
  max-width : 100%;
  width: auto;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 25px rgba(0,0,0,0.3);
  transition: border-radius 0.3s ease, box-shadow 0.3s ease;
  margin-bottom : 10px;
}

.image_holder iframe{
  width: 100%;
  height: 315px;
  border-radius: 12px;
  box-shadow: 0 4px 25px rgba(0,0,0,0.3);
  transition: border-radius 0.3s ease, box-shadow 0.3s ease;
  margin-bottom : 10px;
}

.image_caption {
  position: absolute;
  top: 600px;
  left: 3%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 6px 12px;
  font-size : 1.7rem;
  font-style : italic;
}


/* generic layouts */

.article_container {
  background-color: #011904;
  padding: 25px;
  border-radius: 12px;
  border: 2px solid #bebebe;
  box-shadow: 0 4px 11px rgba(0,0,0,0.3);
  flex : 1;
  margin : 7px;
  height : 100%;
}

.article_container h2 {
  font-size : 2.5rem;
}

#goal_bounds {
  position: absolute;
  top: 28%;
  left: 20%;
  width: 60%;
  height: 48%;
}

#shooting_ball {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
}

#power_scale {
  position: absolute;
  bottom: 5%;
  left: 80%;
  transform: translateX(-50%);
  font-size : 2.5em;
  font-weight : bold;
  width : 350px;
}

#game_notification_paragraph {
  z-index : 5;
  position: absolute;
  bottom: 78%;
  left: 50%;
  transform: translateX(-50%);
  font-weight : bold;
  font-size : 2.5em;
  width : 80%;
  text-align : center;
}

.clickable_football{
  cursor : pointer;
  display : inline;
  transform : translateX(0%);
}

/* football kicking keyframes */
@keyframes football_kick_keyframes{
  0% {
    /* rotate : 0; */
    transform : translateX(0vw) rotate(0deg);
  }
  25% {
    transform : translateX(15vw) rotate(90deg);

  }
  50% {
    /* rotate : 180; */
    transform : translateX(30vw) rotate(180deg);
  }
  75% {
    /* rotate : 270; */
    transform : translateX(45vw) rotate(270deg);
  }
  100% {
    /* rotate : 360; */
    transform : translateX(60vw) rotate(360deg);
  }
}

/* football kicking keyframes */
@keyframes football_header_keyframes{
  0% {
    /* rotate : 0; */
    transform : translateX(0vw);
  }
  25% {
    transform : translateX(15vw) translateY(2vw);

  }
  50% {
    /* rotate : 180; */
    transform : translateX(30vw) translateY(4vw);
  }
  100% {
    /* rotate : 360; */
    transform : translateX(40vw) translateY(3vw);
  }
}
#header_space {
  height : 50px;
}
/* class to run animation when set */
.passing_animation{
  animation : football_kick_keyframes 3s;
}

.shooting_animation{
  animation : football_kick_keyframes 0.85s;
}

.heading_animation{
  animation : football_header_keyframes 1.3s;
}

.sprite {
  width: 256px;
  height: 256px;
  background-image: url("images/spritesheet.png");
  background-repeat: no-repeat;
  /* keep the image at its natural size so offsets align */
  animation: play 1s steps(1) infinite;
  /* ensure each keyframe jump is immediate */
  animation-timing-function: steps(1);
  margin : 0;
  padding : 0;
  position : absolute;
  left : 32%;
  bottom : 9%;
  z-index : 1;
  transform : scale(0.57);
}

@keyframes play {
  0%    { background-position:   0px    0px; }
  6.25% { background-position: -256px    0px; }
  12.5% { background-position: -512px    0px; }
  18.75%{ background-position: -768px    0px; }

  25%   { background-position:   0px  -256px; }
  31.25%{ background-position: -256px  -256px; }
  37.5% { background-position: -512px  -256px; }
  43.75%{ background-position: -768px  -256px; }

  50%   { background-position:   0px  -512px; }
  56.25%{ background-position: -256px  -512px; }
  62.5% { background-position: -512px  -512px; }
  68.75%{ background-position: -768px  -512px; }

  75%   { background-position:   0px  -768px; }
  81.25%{ background-position: -256px  -768px; }
  87.5% { background-position: -512px  -768px; }
  93.75%{ background-position: -768px  -768px; }

  100%  { background-position:   0px    0px; } /* loop back */
}

#qr_image {
  width : 15%;
  height : 15%;
}

#qr_container {
  display : inline;
  margin: 40px;
  align-items : center;
}

#direction_arrow {
  position: absolute;
  bottom: 18%;
  left: 50%;
  transform: translateX(-50%);
  width : 60px;
  height : 70px;
}

#game_start_button {
  z-index : 5;
  position: absolute;
  bottom: 45%;
  left: 50%;
  transform: translateX(-50%);
  height : 80px;
  width : 300px;
  text-align : center;
  font-size : 2em;
  box-shadow: 3px 20px 11px rgba(28, 28, 28, 0.3);
  transition : opacity 0.4s ease;
}

.relative_position {
  position : relative;
}

.dark_screen {
  filter : brightness(10%);
}

.light_screen {
  filter : brightness(100%);
}


#shooting_game_canvas {
  position: relative;  
  height : 600px;
  width : 100%;
  transition : filter 0.8s ease;
}

#shooting_game_image {
  width : 100%;
  height : 100%;
  border-radius : 8px;
  border-style: solid;
  border-width : 3px;
  border-color: #003e04;
}

/* relative position so that children with absolute positions will be positioned correctly */
.article_section {
  position : relative;
  background-color: #1d1d1d;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid #8f8f8f;
  overflow : hidden;
  box-shadow: 0 4px 11px rgba(28, 28, 28, 0.3);
  flex : 1;
  transition: border-radius 0.3s ease, transform 0.3s ease, margin 0.3s ease; /*transition property shorthand : property | time | transition style*/
  margin : 7px;
  margin-bottom : 20px;
  height : 100%;
}


.article_section h2 {
  margin-bottom: 15px;
}

.article_section p {
  margin-bottom: 15px;
}

.article_section ul,ol {
  padding-left: 20px;
  font-size: 1.1em;
}

.article_section ul {
  list-style-type: disc;
}

/* navigator layouts */

.interactive_button {
  background-color: rgb(10, 50, 3);
  color: #fff;
  border: none;
  font-weight: bold;
  padding: 12px 25px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, flex 0.3s ease; /*transition property shorthand : property | time | transition style*/
  text-align: left;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  text-decoration: none;
  display : block;
}

.extension_paragraph {
  transition : font-size 0.3s ease;
  padding : 3px;
}

.transition_font_size{
  transition : font-size 0.3s ease;
}

.regular_font{
  font-size: 1em;
}

.invisible_font{
  font-size: 0em;
}

/* hover psuedo class for interactive button class, grows width by 1.25x*/
.interactive_button:hover {
  background-color: #666666;
  flex-grow : 1.25;
}

.white_color {
    background-color: rgb(245, 245, 245);
    color :rgb(27, 27, 27)
}

.blue_button {
  background-color: #94f1ff;
}

.green_button {
  background-color: #8bff8d;
}

.orange_button {
  background-color: #ffc27c;
}

.red_button {
  background-color: #ff987c;
}

.green_color {
    font-weight : bolder;
    background-color: rgb(0, 94, 27);
    color :rgb(255, 255, 255);
    border-style : solid;
    border-width : 1.5px;
    border-radius : 4px;
    border-color :rgb(238, 238, 238)
}

.bolded_text {
  font-weight : bold;
  color :rgb(192, 221, 255)
}

.red_color {
    background-color: rgb(164, 0, 0);
    color :rgb(234, 234, 234);
}

.image_holder,.main_holder .image_credit {
  color : #919191;
  font-size : 0.95em;
}

.article_container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
  max-width: 1100px;
  margin: 40px auto;
  padding : 30px;
  background-image : url(images/pitch_loop.jpg);
  background-repeat : repeat;
}

/* hide menu when above 800px */
#menu_button {
  display : none;
}

/* class to hide elements, !important to ensure that it overrides all other display styles */
.visible {
  display : block !important;
}

@media (max-width : 800px) {
  /* hide the qr code */
  #qr_container {
    display : none;
  }

  /* change top menu to a column */
  #top_nav {
    flex-direction : column;
    width : 100%;
    height : 100%;
  }

  /* stretch the buttons to full width, center text and allow full shrinkage and growth */
  .top_nav_button {
    width : 100%;
    flex : 1 1 100%;
    text-align : center;
    display : none;
  }

  /* diplay menu when below 800px */
  #menu_button {
    display : block;
  }
}